:root {      
    --green: #47cf73;
    --green-light: #d3ffe1;
    --green-dark: #248c46;
    --yellow: #ffdd40;
    --yellow-light: #f9e9a2;
    --yellow-dark: #d9b200;
    --purple: #ae63e4;
    --purple-light: #be9fe4;
    --purple-dark: #754cac;
    --red: #ff3c41;
    --red-very-light: #ffcfcb;
    --red-light: #f19994;
    --red-dark: #a00808;
    --blue: #0ebeff;
    --blue-light: #76daff;
    --blue-dark: #3d88c3;
    --gray: #9b9dad;
    --gray-light-6: #f1f1f3;
    --gray-light-5: #e3e4e8;
    --gray-light-4: #d5d7de;
    --gray-light-3: #c7c9d3;
    --gray-light-2: #b7bbc8;
    --gray-light-1: #aaaebc;
    --gray-dark-1: #868ca0;
    --gray-dark-2: #717790;
    --gray-dark-3: #5a5f73;
    --gray-dark-4: #444857;
    --gray-dark-5: #2c303a;
    --gray-dark-6: #1e1f26;
    --gray-dark-7: #131417;
    --gray-dark-8: #0a0a0c;
    --gray-dark-9: #010101;

}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: 0;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body *, body *::after, body *::before {
    display: block;
}

body {
    background-color: var(--gray-light-6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul > li {
    list-style: none;
}

a {
    color: var(--gray-dark-6);
    text-decoration: none;
}

header {
    position: fixed;
    inset: 0;
    background-color: var(--gray-light-6);
    padding: 3rem 1rem;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    display: flex;
}

#header-nav, #footer-nav {
    display: flex;
}
nav {
    max-width: 30rem;
    width: 50%;
}
#header-nav {
    justify-content: space-around;
}

#brand {
    width: 20rem;
    display: flex;
}

.container {
    max-width: 70rem;
    /* background-color: gray; */
}
/* todo: research on how flex constraints its children to expand pass a certain width */
#search {
    margin-top: 3rem;
    padding: 4rem 1rem;
    display: grid;
    place-items: center;
}

#search-header {
    margin: 1rem 0;
    text-align: center;
}


form {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input[type="email"] {
    padding: .4em .6em;
    width: 15rem;
    border: solid black .1em;
    background-color: white;
}

button[type="submit"] {
    align-self: center;
    background-color: var(--yellow-dark);
    padding: .3em 1em;
    color: black;
    width: max-content;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}

#features {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin: 3rem 2rem;
}

.feature {
    max-width: 45rem;
}

.feature-body b {
    font-weight: 700;
}
.feature-body > p {
    font-size: 0.9rem;
}

#products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product {
    margin: .5rem;
    width: 23rem;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-weight: 400;
    background-color: var(--gray-light-5);
}

.product-price {
    padding: 1rem 1rem .5rem 1rem;
    font-size: 1.5rem;
}

.product-body {
    padding: .5rem 1rem 1rem 1rem;
    min-height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-btn {
    padding: .8rem 1rem;
    margin: .5rem 1rem 1rem 1rem;
    background-color: var(--yellow-dark);
    width: 8rem;
    cursor: pointer;
}

footer {
    padding: 1rem;
    background-color: var(--gray-light-4);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#footer-nav {
    display: flex;
    gap: 0 1.5rem;
    padding: .5rem 1rem;
    color: black;
}

#footer-copyright {
    color: gray;
}