html {
    font-family: sans-serif;
    font-size: 17px;
    --clr-white: #f3f3f3;
    --clr-darkblue: #1b1b32;
    --clr-darkblue-alpha: rgba(27, 27, 50, .7);
    --clr-green: #37af65;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    display: grid;
    place-items: center;
    background-image: linear-gradient(
        100deg,
        rgba(58, 58, 158, 0.7),
        rgba(136, 136, 206, 0.7)
      ),
     url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-scroll: no-scroll;
    background-attachment: fixed;
  }
  
  body *, body *::after, body *::before {
    display: block;
  }
  
  section {
    width: 40rem;
  }
  
  @media (max-width: 50rem) {
    section {
     width: 30rem; 
    }
  }
  
  @media (max-width: 40rem) {
    section {
      width: 100%;
    }
  }
  
  #title {
    color: var(--clr-white);
    font-size: 2.3rem;
    text-align: center;
    font-weight: 500;
    margin: 3rem 1rem 1rem 1rem;
  }
  
  #description {
    text-align: center;
    color: var(--clr-white);
    font-style: italic;
    opacity: .7;
    margin: 1rem 1rem 3rem 1rem;
  }
  
  main {
    border-radius: 5px;
    background-color: var(--clr-darkblue-alpha);
    padding: 1rem 2rem;
  }
  
  @media (max-width: 25rem) {
    main {
      padding: 1rem 1rem;
    } 
  }
  
  form > * {
    margin: 2rem 0 !important;
  }
  
  label, fieldset {
    color: var(--clr-white);
    margin: .5rem 0;
  }
  
  input, select, textarea {
    width: 100%;
    color: grey;
    background-color: var(--clr-white);
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  input[type="radio"], input[type="checkbox"] {
    width: inherit;
    display: inline-block;
    margin: 0 .2rem;
  }
  
  label > :not(input[type="radio"], input[type="checkbox"]) {
    margin: .5rem 0;
  }
  
  textarea {
    border-radius: 0;
  }
  
  button {
    width: 100%;
    background-color: var(--clr-green);
    color: var(--clr-white);
    border-radius: 3px;
    padding: 1rem 0;
  }