/* Importing font families: Lexend Deca and Big Shoulders display */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --clr-sedans: hsl(31, 77%, 52%);
    --clr-suvs: hsl(184, 100%, 22%);
    --clr-luxury: hsl(179, 100%, 13%);
    --clr-neutral-700: hsla(0, 0%, 100%, 0.75);
    --clr-neutral-900: hsl(0, 0%, 95%);
    --ff-body: 'Lexend Deca';
    --fw-body: 400;
    --ff-heading: 'Big Shoulders Display';
    --fw-heading: 700;
    
    font-size: 15px;
    font-family: 'Lexend Deca', 'Big Shoulders Display', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body *, body *::after, body *::before {
    display: block;
}

body {
    background-color: var(--clr-neutral-900);
    padding: 1rem;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.card {
    border-radius: 5px;
}

.card__section {
    padding: 2rem;
}

.card__section__heading {
    font-family: var(--ff-heading);
    font-weight: var(--fw-heading);
    color: var(--clr-neutral-900);
    margin-block-start: 1rem;
    text-transform: uppercase;
}

.card__section__desc {
    color: var(--clr-neutral-700);
    line-height: 1.4rem;
    font-size: 0.9rem;
    margin-block-start: 1rem;
}

.card__section__action {
    background-color: var(--clr-neutral-900);
    font-size: 0.95rem;
    padding: 1rem 1.3rem;
    margin-block-start: 1rem;
    border-radius: 15px;
    text-decoration: none;
    width: max-content;
}

.card__section--sedans {
    background-color: var(--clr-sedans);
}

.card__section--suvs {
    background-color: var(--clr-suvs);
}

.card__section--luxury {
    background-color: var(--clr-luxury);
}