@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --clr-violet: hsl(257, 40%, 49%);
    --clr-soft-magenta: hsl(300, 69%, 71%);

    --fw-bold: 600;
    --fw-normal: 400;

    --ff-poppins: 'Poppins';
    --ff-body: 'Open Sans';

    font-family: var(--ff-body), sans-serif;
    font-weight: var(--fw-normal);
    color: white;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body *, body *::after, body *::before {
    display: block;
}

body {
    background-color: var(--clr-violet);
}

img {
    width: 100%;
}

main {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.logo {
    width: auto;
    max-width: 100%;
}

.center {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

.title {
    font-size: 3.1rem;
    font-family: var(--ff-poppins);
    /* line-height: 3.5rem; */
}

.desc {
    font-size: 2.05rem;
}

.btn {
    padding: 1.5rem;
    margin-block-start: 1rem;
    max-width: 25rem;
    width: 100%;
    border-radius: 10rem;
    border: none;
    align-self: center;
    color: var(--clr-violet);
    font-size: 1.4rem;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icon {
    width: 60px;
    color: white;
    /* background-color: white; */ 
}