:root {
    --clr-main: hsl(223, 47%, 23%);
    --clr-main-pale: hsl(225, 100%, 94%);
    --clr-main-very-pale: hsl(225, 100%, 98%);
    --clr-main-bright: hsl(245, 75%, 52%);
    --clr-main-desaturated: hsl(224, 23%, 55%);
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body *, body *::after, body *::before {
    display: block;
}

body {
    background-color: var(--clr-main-pale);
    background-image: url(./images/pattern-background-mobile.svg);
    background-size: 100vw 40vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 1.5rem;
}

@media (min-width: 1440px) {
    body {
        background-image: url(./images/pattern-background-desktop.svg);
    }
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.card {
    background: white;
    width: min(100%, 25rem);
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.card__image {
    width: 100%;
    height: clamp(10rem, 35vw, 12rem);
}

.card__cont {
    padding: clamp(1rem, 4vw, 1.5rem);
}

.card__cont > * {
    margin-block-start: 1.3rem;
}

.card__title {
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--clr-main);
}

.card__desc {
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--clr-main-desaturated);
}

.card__details {
    padding: 1.2rem 1rem;
    background-color: var(--clr-main-very-pale);
    border-radius: .5rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: max-content 1fr max-content;
    text-align: left;
    font-size: .88rem;
}

.card__details__icon {
    width: 2.5rem;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin-inline-end: 1rem;
}

.card__details__plan {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-weight: 900;
    color: var(--clr-main);
}

.card__details__price {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    color: var(--clr-main-desaturated);
}

.card__details__change {
    grid-column: 3 / -1;
    grid-row: 1 / -1;
    border: 0;
    margin-inline-start: 1rem;
    cursor: pointer;
    color: var(--clr-main-bright);
    background-color: transparent;
    font-weight: 700;
    text-decoration: underline;
}

.card__pay {
    background-color: var(--clr-main-bright);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card__cancel {
    background-color: transparent;
    color: var(--clr-main-desaturated);
}

.btn {
    padding: .8rem;
    font-size: .8rem;
    font-weight: 700;
    text-decoration: none;
    width: 100%;
    border-radius: .5rem;
    border: 0;
    cursor: pointer;
}