:root {
    --clr-main: hsl(223, 47%, 23%);
    --clr-main-pale: hsl(225, 100%, 94%);
    --clr-main-very-pale: hsl(225, 100%, 98%);
    --clr-main-bright: hsl(245, 75%, 52%);
    --clr-main-desaturated: hsl(224, 23%, 55%);
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body *, body *::after, body *::before {
    display: block;
}

body {
    background-color: var(--clr-main-pale);
    background-image: url(./images/pattern-background-mobile.svg);
    background-size: 100vw 40vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

@media (min-width: 1440px) {
    main {
        background-image: url(./images/pattern-background-desktop.svg);
    }
}

main {
    display: grid;
    place-items: center;
}

.card {
    background: white;
    width: min(100%, 22rem);
    border-radius: 1rem;
    margin: 1rem;
    padding-block-end: 1rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.card__image {
    width: 100%;
    height: 10rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin: 0;
}

.card__cont {
    padding-inline: clamp(1rem, 2vw, 1.5rem);
}

.card__title {
    margin-block: 2rem 1rem;
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--clr-main);
}

.card__desc {
    font-weight: 500;
    line-height: 1.6rem;
    margin-block: 0 1rem;
    color: var(--clr-main-desaturated);
}

.card__details {
    background-color: var(--clr-main-very-pale);
    border-radius: .5rem;
    margin-block: 2rem 1rem;
    padding: 1.2rem 1rem;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: max-content 1fr max-content;
    text-align: left;
}

.card__details__icon {
    width: 2.5rem;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin-inline-end: 1rem;
}

.card__details__plan {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
    font-size: .88rem;
    font-weight: 900;
    color: var(--clr-main);
}

.card__details__price {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    width: 100%;
    font-size: .88rem;
    color: var(--clr-main-desaturated);
}

.card__details__change {
    grid-column: 3 / -1;
    grid-row: 1 / -1;
    border: 0;
    margin-inline-start: 1rem;
    cursor: pointer;
    color: var(--clr-main-bright);
    font-weight: 700;
    text-decoration: underline;
}

.card__pay {
    background-color: var(--clr-main-bright);
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    text-decoration: none;
    font-weight: 900;
    margin-block: 0 .5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card__cancel {
    margin-block: .5rem 0;
    width: 100%;
    border: 0;
    padding: 1rem;
    background-color: transparent;
    color: var(--clr-main-desaturated);
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}
