@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    --clr-primary-pink: hsl(333, 80%, 67%);
    --clr-primary-magenta: hsl(300, 43%, 22%);
    --clr-neutral-magenta-900: hsl(303, 10%, 53%);
    --clr-neutral-magenta-100:hsl(300, 24%, 96%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --fw-bold: 700;
    --fw-medium: 500;
    --fw-regular: 400;

    font-size: 15px;
    font-family: Spartan, 'sans-serif';
    font-weight: var(--fw-regular);
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body *, body *::after, body *::before {
    display: block;
}

body {
    background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 0, 0 calc(100vh - 503px);
}

main {
    width: min(40rem, 100%);
    margin: auto;
    min-height: 100vh;
    padding: 1.5rem;
    display: grid;
    place-items: center;
    gap: 2rem;
}

.upper-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.title {
    color: var(--clr-primary-magenta);
    font-size: 2.5rem;
    font-weight: var(--fw-bold);
}

.description {
    color: var(--clr-neutral-magenta-900);
    font-size: 0.95rem;
    font-weight: var(--fw-medium);
    line-height: 1.8;
}

.ratings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var(--clr-neutral-magenta-100);
    border-radius: 10px;
    padding: 1rem;
}

.star-cont {
    display: flex;
    gap: 0.5rem;
}

.rating-desc {
    color: var(--clr-primary-magenta);
    font-weight: var(--fw-bold);
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.review {
    background-color: var(--clr-primary-magenta);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 25px 25px 1fr;
    grid-template-areas: 
        "img name"
        "img status"
        "desc desc";
    padding: 3rem 2rem;
    gap: 0rem 1.5rem;
}

.profile-pic {
    grid-area: img;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.name {
    grid-area: name;
    color: var(--clr-neutral-white);
    font-weight: var(--fw-bold);
}

.status {
    grid-area: status;
    color: var(--clr-primary-pink);
    font-weight: var(--fw-medium);
}

.review-desc {
    grid-area: desc;
    color: var(--clr-neutral-magenta-100);
    font-weight: var(--fw-medium);
    line-height: 1.6;
    margin-top: 2rem;
    font-size: 0.9rem;
}

@media (min-width: 1440px) {
    body {
        background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: 0 0, calc(100vw - 1085px) calc(100vh - 673px);
    }

    main {
        padding: 10rem;
        gap: 5rem;
        width: min(1640px, 100%);
        margin: auto;
    }

    .upper-section {
        flex-direction: row;
    }

    .header {
        width: 45%;
        text-align: start;
    }

    .title {
        font-size: 3rem;
    }

    .ratings {
        width: 55%;
        gap: 1.5rem;
        margin-top: 1.5rem;
        align-items: flex-end;
    }

    .rating:nth-child(1) {
        transform: translateX(-8rem);
    }

    .rating:nth-child(2) {
        transform: translateX(-4rem);
    }

    .rating {
        flex-direction: row;
        gap: 2rem;
        width: 32rem;
        padding: 1.5rem 0 1.5rem 3rem;
    }

    .reviews {
        flex-direction: row;
    }

    .review:nth-child(2) {
        transform: translateY(1rem);
    }

    .review:nth-child(3) {
        transform: translateY(2rem);
    }
}