*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body *, body *::before, body *::after {
    display: block;
}

main {
    margin: 1.5rem 1rem;
}

a {
    display: inline-block;
    opacity: 1;
}

li {
    display: list-item;
    margin: 0 4.5rem;
    text-align: justify;
    padding: .2rem 1.5rem .2rem 0;
    line-height: 1.5rem;
    opacity: .7;
}

p {
    padding: .5rem 1.5rem;
    text-align: justify;
    line-height: 1.5rem;
    opacity: .7;
}

code {
    margin: .5rem 1.5rem;
    padding: .5rem 1.5rem;
    background-color: #E5E4E2;
    font-style: italic;
    line-height: 1.5rem;
    opacity: .7;
}

header {
    font-size: 2rem;
    font-weight: 400;
    padding: .5rem .5rem;
}

nav {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

nav > header {
    margin: 0 auto;
    width: max-content;
}

nav > div {
    height: 15rem;
    overflow: scroll;
}

nav > div > a:visited {
    color: black;
    opacity: .7;
}

nav > div > a {
    opacity: .7;
    color: black;
    text-decoration: none;
    display: block;
    padding: 1rem 2rem;
    border-top: 1px solid black;
}

@media (min-width: 816px) {
    body {
        display: flex;
    }

    nav {
        width: 25vw;
        height: 100vh;
        position: fixed;
    }

    nav > header {
        height: 10vh;
        font-size: 1.5rem;
        font-weight: 500;
        padding: .5rem 0;
    }

    nav > div {
        height: 90vh;
        overflow: scroll;
    }

    main {
        width: 75vw;
        margin-left: 25vw;
        padding-left: 2rem;
    }
}