:root {
    --white: #f0f0f0;
    --red: #be3144;
    --blue: #45567d;
    --gray: #303841;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body *, body *::after, body *::before {
    display: block;
}

header {
    position: fixed;
    inset: 0;
    background-color: var(--red);
    color: var(--white);
    height: 4.5rem;
    padding: 0 1rem;
    font-size: 1.3rem;
    z-index: 5;
}

header nav {
    height: inherit;
}

header ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header li {
    height: 100%;
}

header a {
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 1.5rem;
    color: var(--white);
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 200ms;
}

header a:hover {
    background-color: var(--blue);
}

#welcome-section {
    margin: 4.5rem 0 0 0;
    height: calc(100vh - 4.5rem);
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome-section h1 {
    margin-top: -5.5rem;
    padding: 1rem 1rem .5rem 1rem;
    color: white;
    text-align: center;
    font-size: 3.5rem;
}

#welcome-section p {
    color: var(--red);
    font-size: 1.4rem;
    text-align: center;
    padding: 0 1rem 1rem 1rem;
}

#projects {
    background-color: var(--blue);
    padding: 3rem 1rem;
    text-align: center;
}

#projects h2 {
    margin: 1rem auto;
    color: var(--white);
    font-size: 2.2rem;
    max-width: max-content;
    position: relative;
}

#projects h2::before {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    content: "";
    height: 2px;
    background-color: currentColor;
}

#projects div {
    margin: 3rem 0;
}

#projects ul {
    justify-content: center;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

#projects li {
    background-color: var(--gray);
    width: 100%;
}

@media (min-width: 719px) {
    #projects li {
        width: clamp(320px, 40vw, 400px);
    }
}

#projects figcaption {
    padding: 1.5rem 1rem;
    position: relative;
    max-width: max-content;
    margin: 0 auto;
}

#projects a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
}

#projects img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

#projects figcaption::before {
    content: "<";
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 300ms;
    color: var(--red);
}

#projects figcaption::after {
    content: "/>";
    position: absolute;
    right: -.4em;
    bottom: 1.2em;
    opacity: 0;
    color: var(--red);
    transition: opacity 300ms;
}

#projects a:hover figcaption::before, #projects a:hover figcaption::after {
    opacity: 1;
}

#projects > a {
    background-color: var(--gray);
    width: max-content;
    padding: 1rem 2.5rem 1rem 1rem;
    margin: 1rem auto;
    position: relative;
    transition: background-color 700ms;
}

#projects > a::after {
    content: ">";
    position: absolute;
    right: .8rem;
    font-size: 1.4rem;
    bottom: 1rem;
    transition: transform 700ms;
}

#projects > a:hover {
    background-color: var(--red);
}

#projects > a:hover::after {
    transform: translateX(5px);
}

#contact-section {
    background-color: var(--gray);
    color: var(--white);
    padding-block: 7rem;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-section h1 {
    font-size: clamp(2.2rem, 5vw, 3.5rem);
    text-align: center;
}

#contact-section p {
    margin-block-start: .6em;
    color: rgba(204, 204, 204, 0.671);
}

#contact-section ul {
    margin-block-start: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#contact-section a {
    display: flex;
    color: var(--white);
    text-decoration: none;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    align-items: center;
    transition: transform 400ms;
}

#contact-section a:hover {
    transform: translateY(5px);
}

#contact-section i {
    margin-inline-end: .3em;
    color: var(--white);
}

footer {
    background-color: var(--gray);
    padding-block: 1rem;
    padding-inline: 2rem;
    border-block-start: var(--red) 5px solid;
    text-align: center;
    color: var(--white);
}

@media (min-width: 700px) {
    footer {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
}

footer > * {
    margin-block: 2rem;
}

footer a {
    color: var(--white);
    text-decoration: none;
}

footer div * {
    display:  inline-block;
}

footer i {
    vertical-align: middle;
}