:root {
    --white: #f0f0f0;
    --red: #be3144;
    --blue: #45567d;
    --gray: #303841;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body *, body *::after, body *::before {
    display: block;
}