@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --clr-primary-300: hsl(185, 75%, 39%);
    --clr-primary-900: hsl(229, 23%, 23%);
    --clr-primary-500: hsl(227, 10%, 46%);
    --clr-neutral: hsl(0, 0%, 59%);
    --fs: 18px;
    --fw-normal: 400; 
    --fw-bold: 700; 
    font-size: var(--fs);
    font-weight: var(--fw-normal);
    font-family: 'Kumbh Sans', sans-serif, serif;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body *, body *::before, body *::after {
    display: block;
}

body {
    background-color: var(--clr-primary-300);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-size: 100vw 70vh, 100vw 100vh;
    background-attachment: fixed, fixed;
    background-repeat: no-repeat, no-repeat;
    background-position: -40vw -55vw, 50vw 50vh;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1.5rem;
}

.card {
    width: min(100%, 20rem);
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 10px 1px #2929290a, 0 0 15px 5px #3d3d3d04;
}

.card__header {
    background-image: url(./images/bg-pattern-card.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 75%;
    position: relative;
    height: 10rem;
}

.card__header::after {
    content: "";
    position: absolute;
    margin-inline: auto;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./images/image-victor.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 0 6px white;
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.card__horiz {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: .5rem;
    margin: .5rem;
    margin-block: 1.5rem .25rem;
}

.card__name {
    font-weight: var(--fw-bold);
    color: var(--clr-primary-900);
}

.card__num {
    color: var(--clr-primary-500);
}

.card__location {
    text-align: center;
    margin: .5rem;
    font-size: .8rem;
    color: var(--clr-primary-500);
    margin-block: .25rem 1.25rem;
}


.card__stats {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 1.25rem 2rem;
    margin-block: 1.25rem 0;
    border-top: solid 1px hsla(0, 0%, 59%, 0.2);
}

.card__stat {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.card__amt {
    font-weight: var(--fw-bold);
    color: var(--clr-primary-900);
}

.card__title {
    font-size: 0.55rem;
    letter-spacing: .1rem;
    color: var(--clr-primary-500);
}

@media (min-width: 800px) {
    body {
        background-size: 100vw 150vh, 100vw 250vh;
        background-position: -50vw -70vh, 35vw 50vh;
    }
    
    .card__header {
        height: 11rem;
    }
}